*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar-container{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: white;
    width: 250px;
    transition: all 0.5s ease;
}

.links{
    width: 100%;
    position: absolute;
    top: 25%;
}
.links li{
    height: 56px;  
}
.link{
    position: absolute;
    background: white;
    display: flex;
    height: 56px;
    width: 100%;
    align-items: center;
    z-index: 100;
    transition: all 0.5s ease;
}
.links li a{
    text-decoration: none;
}
.link i{
    font-size: 28px;
    color: #BFC5D2;
    margin-left: 1em;
    transition: all 0.5s ease;
}
.link-name{
    font-size: 0.94rem;
    margin-left: .7em;
    color: #B0BAC9;
    transition: all 0.5s ease;
}

.clicked-link{
    border-left: 4px solid #2E5BFF;
    background: #d5deff;
}
.clicked-link .link-name{
    color: #2E5BFF;
}
.profile{
    position: absolute;
    top: 15%;
    left: 33%;
    font-size: 0.85rem;
    transition: all 0.5s ease;
}
.profile-hello{
    color: #2E384D;
}
.profile-nom{
    text-transform: capitalize;
    font-family: 0.85rem;
    color: #BFC5D2;
}
.navbar-container>i{
    font-size: 28px;
    color: #BFC5D2;
    margin-top: 1em;
    margin-left: 1em;
    cursor: pointer;
}
.close{
width: 4em;
}
.close .link-name, .close .profile{
    display: none;
}
.close .link i{
    margin: 0;
}
.close .link{
    justify-content: center;
}
